RewriteEngine On
RewriteBase /

# If the request is not for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to index.html
RewriteRule ^(citizenship|residences|visas|quote|expertise|contacts|get-consultation)/?$ /index.html [L,QSA]
